@model Bohrium.Tools.BDDManagementTool.Presentation.ViewModels.FeatureSearchResultViewModel

<div class="row top-buffer">
    <div class="panel panel-default feature-card-border">
        <div class="panel-heading panel-heading-smaller feature-card">
            <div class="row">
                <div class="col-md-11 text-left">
                    <h5 title="@Html.DisplayFor(model => model.Description)">@Html.DisplayFor(model => model.Description)</h5>
                </div>
                <div class="col-md-1 text-right">
                    <a href="@Url.Action("Feature", "Search", new { Id = Model.ObjectId })" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-list"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div>
                <label>Total of Scenarios:</label>
                @if (Model.Scenarios.Count == 0)
                {
                    <span class="alert">0</span>
                }
                else
                {
                    @Model.Scenarios.Count
                }
            </div>
            
            <div>
                <div>
                    @Html.Partial("_Tags", Model)
                </div>
            </div>
            @Html.Partial("_PanelFooter", Model)
        </div>
    </div>
</div>